<div class="container  px-5 px-sm-0">
  <div class=" mb-5">
    <div class="col-3 text-center">
      <h1>投稿一覧</h1>
    </div>
  </div>

<!--絞り込み機能-->

  <%= form_with url: {controller: :posts, action: :index}, method: :get do |f| %>
  <div class="form-row align-items-end">
    <div class="col-4">
       <%= f.label :genre_id, "ジャンル" %>
       <%= f.select :genre_id, options_for_select(Post.genre_ids.map { |key, value| [I18n.t("enums.post.genre_id.#{key}"), value] }), { prompt: "" }, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.label :start_date, "開始日" %>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.label :end_date, "終了日" %>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.submit "絞り込み", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<!--投稿一覧-->
<div class="container">
  <div class="d-flex flex-wrap">
    <% @posts.each do |post| %>

      <div class="flex-item mb-5" style="flex-basis: 25%;">
      <p>日時</p>
      <%= link_to post_path(post) do %>
      <span><%= post.eaten_at.strftime("%Y年 %m月 %d日 %H:%M") %></span>
      <% end %>

      <%= form_with model:post do |f| %>
       <p>ジャンル</p>
        <span><%= I18n.t("enums.post.genre_id.#{post.genre_id}") %></span>

      <% end %>
      <p>食事内容</p>
      <span><%= content_tag(:ul) do %>
              <% post.meal_content.split("\n").each do |content| %>
                <%= content_tag(:li, content) %>
              <% end %>
            <% end %>
      </span><br>


            <p>画像</p>
            <span>
              <% if post.image.present? %>
                <%= image_tag post.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no-image', size: "100x100" %>
              <% end %>
            </span>
          </tr>

       <p>コメント数： <%= post.comments.count %></p>
      </div>
    <% end %>
  </div>
</div>





