<h1>投稿一覧</h1>

<% @posts.each do |post| %>

  <p>日時</p>
  <span><%= post.eaten_at.strftime("%Y年 %m月 %d日 %H:%M") %></span>


   <% genres = [["朝食", "breakfast"], ["昼食", "lunch"], ["夕食", "dinner"], ["間食", "snack"]] %>

  <%= form_with model:post do |f| %>


  <!--<span><%#= I18n.t("enums.post.genre_id")[post.genre_id] %></span>-->
  <!--<span><%#= genres.find { |genre| genre[1] == post.genre_id }.to_a.first %></span>-->
  <!--<span><%#= I18n.t("enums.genre_id.#{post.genre_id}", scope: :ja) %></span>-->
  <span><%= I18n.t("enums.genre_id.#{post.genre_id}", locale: :ja) %></span>

  <% end %>


  <p>食事内容</p>
  <span><%= content_tag(:ul) do %>
          <% post.meal_content.split("\n").each do |content| %>
            <%= content_tag(:li, content) %>
          <% end %>
        <% end %>
  </span><br>


    <% if post.image.present? %>
      <%= image_tag post.image, size: "200x200" %>
    <% else %>
      画像がありません
    <% end %>


<% end %>




