<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mt-5 mb-3">食事内容詳細</h2>
      <div class="d-flex align-items-center">
        <table class="table table-bordered bg-white">
          <tr>
            <th class="table-primary">日時</th>
            <td><%= @post.eaten_at.strftime("%Y年 %m月 %d日 %H:%M") %></td>
          </tr>
          <%= form_with model:@post do |f| %>
            <tr>
              <th class="table-primary">ジャンル</th>
              <td><%= I18n.t("enums.post.genre_id.#{@post.genre_id}") %></td>
            </tr>
          <% end %>

          <tr>
            <th class="table-primary">食事内容</th>
            <td><%= content_tag(:ul) do %>
                    <% @post.meal_content.split("\n").each do |content| %>
                      <%= content_tag(:li, content) %>
                    <% end %>
                  <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-primary">Todo達成</th>
            <td>
              <% if @post.post_todos.present? %>
                <ul>
                  <% @post.todos.each do |todo| %>
                    <li>
                      <%= todo.todo %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                なし
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-primary">画像</th>
            <td>
              <% if @post.images.present? %>
                <%= image_tag @post.images, class: "show-post-image" %>
              <% else %>
                <%= image_tag 'no-image.jpg', class: "show-post-image" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-4">
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-4">
      <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-block" %>
    </div>
  </div>
</div>

<div class="comments mb-5">
  <h5>コメント</h5>
  <% @post.comments.each do |comment| %>
    <div class="card mb-5">
      <div class="card-body">
        <p class="card-text">
          <i class="fa fa-user"></i> <strong><%= comment.admin.last_name %></strong>: <%= comment.comment %>
        </p>
      </div>
    </div>
  <% end %>
</div>
