<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="mt-5 mb-3">食事内容詳細
         <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary ml-2" %>
         <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger ml-2" %>
      </h3>
      <div class="d-flex align-items-center">
        <table class="table table-bordered bg-white">
          <tr>
            <th class="table-primary">日時</th>
            <td><%= @post.eaten_at.strftime("%Y年 %m月 %d日 %H:%M") %></td>
          </tr>
          <%= form_with model:@post do |f| %>
            <tr>
              <th class="table-primary">ジャンル</th>
              <td><%= I18n.t("enums.post.genre_id.#{@post.genre_id}") %></td>
            </tr>
          <% end %>

          <tr>
            <th class="table-primary">食事内容</th>
            <td><%= content_tag(:ul) do %>
                    <% @post.meal_content.split("\n").each do |content| %>
                      <%= content_tag(:li, content) %>
                    <% end %>
                  <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-primary">Todo達成</th>
            <td>
              <% if @post.post_todos.present? %>
                <ul>
                  <% @post.post_todos.each do |post_todo| %>
                    <li>
                      <%= post_todo.todo.todo %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                なし
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-primary">画像</th>
            <td>
              <% if @post.image.present? %>
                <%= image_tag @post.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no-image.jpg', size: "200x200" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="comments">
  <h5>コメント</h5>
  <% @post.comments.each do |comment| %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">
          <i class="fa fa-user"></i> <strong><%= comment.admin.last_name %></strong>: <%= comment.comment %>
        </p>
      </div>
    </div>
  <% end %>
</div>
