<%= flash[:notice] %>

<h1><%= @user.full_name %>様のTodoリスト</h1>

<%= link_to '新規作成', new_admin_user_todo_path(@user, @todos), class: "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Todo</th>

    </tr>
  </thead>


  <tbody>
    <% @todos.each do |todo| %>
    <tr>
      <td>
      <%= check_box_tag 'todos[]', todo.id %>
      <%= todo.todo %>
      </td>
      <td><%= link_to '編集', edit_admin_user_todo_path(@user, todo), class: "btn btn-success" %></td>
      <td><%= link_to '削除', admin_user_todo_path(@user, todo), method: :delete, data: { confirm: '本当に削除しますか?' } , class: "btn btn-danger"%></td>

    </tr>
    <% end %>
  </tbody>
</table>
