<%= render "admin/shared/links" %>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="box1 d-flex justify-content-center align-items-center">
      <div class="box-inner">
        <div class="box-inner">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h2>ログイン</h2>

            <div class="box-email">
              <%= f.label :email, "Eメール" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30" %>
            </div>

            <div class="box-password">
              <div class="a-row">
                <div class="column-left">
                  <%= f.label :password, "パスワード(6文字以上)" %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="actions mt-2">
                  <%= f.submit "ログイン" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


