<div class="chat-container">
  <div class="chat-topbar">
    <h3><%= @user.admin.full_name %> 栄養士とのチャット</h3>
  </div>
  <div class="message">
    <%= render "public/chats/messages", chats: @chats, admin: @admin, user: @user %>
  </div>

  <div class="chat-form">
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <div class="errors">
        <%= render "layouts/error_messages", resource: @chat %>
      </div>
      <%= f.text_field :message, placeholder: "メッセージを入力してください", autocomplete: "off" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>


