<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-5"><%= @user.full_name %>様の投稿一覧</h2>
        <table class="table bg-white">
          <thead class="table-primary">
            <tr>
              <th>日時</th>
              <th>ジャンル</th>
              <th>食事内容</th>
              <th>画像</th>
              <th>コメント</th>
            </tr>
          </thead>

          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.eaten_at.strftime("%Y年 %m月 %d日 %H:%M"), admin_user_post_path(user_id: post.user.id, id: post.id) %></td>
              <td><%= I18n.t("enums.post.genre_id.#{post.genre_id}") %></td>
              <td>
                <%= content_tag(:ul) do %>
                  <% post.meal_content.split("\n").each do |content| %>
                    <%= content_tag(:li, content) %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if post.images.present? %>
                  <%= image_tag post.images.first, class: "img-index" %>
                <% else %>
                  <%= image_tag 'no-image.jpg', class: "img-index" %>
                <% end %>
              </td>
              <td>
                <% if post.comments.present? %>
                  <strong style="color: blue;">済</strong>
                <% else %>
                  <strong style="color: red;">未</strong>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
    <div class="text-center">
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
</div>



