<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">投稿一覧</h4>
        <table class="table">
          <thead>
            <tr>

              <th>ユーザー</th>
              <th>日時</th>
              <th>ジャンル</th>
              <th>食事内容</th>
              <th>画像</th>
            </tr>
          </thead>
          
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.user.full_name, admin_user_path(user_id: post.user.id, id: post.id) %></td>
              <td><%= link_to post.eaten_at.strftime("%Y年 %m月 %d日 %H:%M"), admin_user_post_path(user_id: post.user.id, id: post.id) %></td>
              <td><%= I18n.t("enums.post.genre_id.#{post.genre_id}") %></td>
              <td>
                  <%= content_tag(:ul) do %>
                    <% post.meal_content.split("\n").each do |content| %>
                      <%= content_tag(:li, content) %>
                    <% end %>
                  <% end %>
              </td>
              <td>
                  <% if post.image.present? %>
                    <%= image_tag post.image, size: "100x100" %>
                  <% else %>
                    画像がありません
                  <% end %>
               </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>