<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @user.full_name %>様の会員情報編集</h4>
      <%= render 'layouts/error_messages', resource: @user %>
      <table class="table table-borderless">
        <%= form_with(model: @user, url: admin_user_path(@user), method: :patch) do |f| %>
          <tr>
            <td>会員ID</td>
            <td><%= @user.id %></td>
          </tr>

          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
          </tr>

          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
            <td></td>
          </tr>

          <tr>
            <td>会員ステータス</td>
            <td>
              <%= f.radio_button :is_active, :true, checked: true %>
              <%= f.label :is_active_true, "有効" %>

              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active_false, "退会"%>
            </td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class:"btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
