<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">会員一覧</h4>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>会員ステータス</th>
              <th>担当</th>
              <th></th>

            </tr>
          </thead>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.full_name, admin_user_path(user) %></td>
              <td><%= user.email %></td>
               <td>
                  <% if user.is_active %>
                    <span class="text-success">有効</span>
                  <% else %>
                    <span class="text-secondary">退会</span>
                  <% end %>
               </td>
               <td>
                 <%= user.admin.last_name %>
               </td>
               <td><%= link_to "投稿一覧を見る", admin_user_posts_path(user), class:"btn btn-primary" %></td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>