<div class="container">
  <div class="row col-8 mt-2 mx-auto">
    <div class="col">
      <h2 class="mt-5 mb-4">
        <%= @user.full_name %>様の会員詳細
      </h2>
      <div class="d-flex align-items-center">
        <table class="table table-borderlered bg-white">
          <tr>
            <th class="table-primary col-4">会員ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th class="table-primary col-4">氏名</th>
            <td><%= @user.last_name %>　<%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="table-primary col-4">メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th class="table-primary col-4">会員ステータス</th>
            <td>
              <% if @user.is_active %>
                <span class="text-success">有効</span>
              <% else %>
                <span class="text-secondary">退会</span>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <%= link_to "編集する", edit_admin_user_path, class:"btn btn-primary ml-3", data: {"turbolinks" => false } %>
</div>
