<section class="inner">
  <h2 class="section-ttl">マイページ</h2>
  <div class="row col-8 mt-2 mx-auto">
    <div class="col-4">
      <h3>登録情報</h3>
    </div>

    <% if @user.email != "guest@example.com" %>
      <div class="row mb-4 ml-2">
        <div class="col">
          <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary btn-block text-nowrap" %>
        </div>
        <div class="col">
          <%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-primary btn-block text-nowrap" %>
        </div>
      </div>
    <% end %>

    <table class="table table-bordered bg-white">
      <tbody>
        <tr>
          <th class="table-primary col-4">名前</th>
          <td><%= @user.last_name %><%= @user.first_name %></td>
        </tr>

        <tr>
          <th class="table-primary col-4">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
