<!DOCTYPE html>
<html>
  <head>
    <title>Meal_Guidance_App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/0af45ee5ef.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    
     <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
       <div class="header-content">
      <%= link_to 'Meal_guidance_todo', (admin_signed_in? ? admin_root_path : root_path ), class: "logo" %>
        <ul class="flex">
    
      <!--<div class="navbar" style="background-color:#875647;">-->
      <!--<div class="logo-section d-flex justify-content-start">-->

          <% if admin_signed_in? %>
            <li><%= link_to '会員一覧' %></li>
            <li><%= link_to '投稿一覧', admin_posts_path %></li>
            <li><%= link_to 'todo作成', new_admin_todo_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <p>ようこそ、<%= current_user.name %>さん!</p>
            <li><%= link_to 'ホーム', new_post_path %></li>
            <li><%= link_to 'マイページ', root_path %></li>
            <li><%= link_to '投稿一覧', posts_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>

          <% end %>
        </ul>

      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>Copyright © Infratop Inc. All Rights Reserved.</footer>
  </body>
</html>


















