<!DOCTYPE html>
<html>
  <head>
    <title>Meal_Guidance_todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0af45ee5ef.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      footer {
        position: relative;
      }

      main {
        margin-bottom: 100px;
      }
    </style>


  </head>

  <body>
    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-text text-white">
        <div class="container">

        <%= link_to 'Meal_guidance_todo', (admin_signed_in? ? admin_root_path : root_path ), class: "logo" %>
        <ul class="flex">
          <% if admin_signed_in? %>
            <li><%= link_to '会員一覧',admin_users_path %></li>
            <!--<li><%#= link_to 'todo作成', new_admin_user_todo_path %></li>-->
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <p>ようこそ、<%= current_user.full_name %>さん!</p>
            <li><%= link_to 'ホーム', new_post_path %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to '投稿一覧', posts_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'アバウト', home_about_path %></li>
            <li><%= link_to '投稿一覧', posts_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </span>
        </ul>
        </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
       <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center mt-auto">
         <span class="navbar-text text-white">
           MealguidanceTodo
         </span>
       </nav>
    </footer>

  </body>
</html>


















